.title {
    height: 310px;
    background-image: url(../images/members/menber_background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-shadow: 
    -1px -1px 0 #ff0000,  
    1px -1px 0 #ff0000,
    -1px 1px 0 #ff0000,
    1px 1px 0 #ff0000;
}

.title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50pt;
    font-weight: bold;
}

.title p {
    font-size: 30px;
    margin-top: 15px;
}

.members {
    background-color: #f8f8f8;
    padding-top: 45px;
    padding-bottom: 55px;
}

.members h2 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.members h2::after {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background-color: #000000;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.member-list {
    list-style: none;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-direction: column; /* 縦に並べる */
    align-items: flex-start;
}

.member-list li {
    display: flex;
    align-items: flex-start; /* 画像とテキストを左右に並べる */
    margin-bottom: 20px;
    flex-shrink: 0;
    width: 100%; /* 全幅を占める */
    margin-left: 0; /* 左側のマージンをリセット */
}

.member-list li:first-child {
    margin-left: 0;
}

.member-list img {
    margin-right: 100px;
    margin-left: 150px;
    width: 200px;
    height: 200px;
}

.member-list dl {
    text-align: center;
    margin: 0;
    height: 200px;
}

.member-list dt {
    margin: 0;
    font-weight: bold;
    font-size: 1.2em;
}

.member-list dd {
    margin: 0;
}

.member-list p {
    margin: 0;
}

@media (max-width: 800px) {
    .member-list {
        padding-left: 20px;
        padding-right: 20px;
    }

    .member-list li {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 0;
    }

    .member-list img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .member-list dl, .member-list dt, .member-list dd {
        text-align: center;
    }

    .member-list p {
        margin-top: 10px;
    }
}